<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>
<body style="background-color: darkslateblue; color: papayawhip">
<div class="jumbotron text-center" style="background-color: cornflowerblue"><h1>{{title}} - {{subtitle}}</h1></div>
<div class="text-center" >
<h2 style="padding-bottom: 50px; font-size: 40px; padding-top: 60px">Files hosted on App Server</h2>
<table class=".table-bordered .table " style="font-size: 15px" align="center">
    {% for f in body %}
    <tr ><th rowspan="3" style="padding-left: 75px; padding-right: 75px; font-size: 24px">{{f}}</th></tr>
    {% endfor %}
</table>
</div>
</body>
</html>
</html>